.banner {
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-bottom: 20px solid $c-dark-green;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $c-dark-green;

  img {
    opacity: 1;
    transition: 0.5s;
    animation: banner-animate 0.5s;
  }

  @include media-breakpoint-up(md) {
    height: 350px;
  }

  &__content {
    position: relative;
    z-index: 2;
    width: 100%;
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
    padding: 10px 5px;
    background-color: $c-light-pink;
    box-shadow: 0 0 0 4px $c-dark-green inset;
    border: 10px solid $c-light-pink;

    @include media-breakpoint-up(md) {
      // padding: 10px 40px;
      margin: 0;
      max-width: 300px;
    }

    h1 {
      color: $c-dark-green;
      text-decoration-color: $c-white;
      margin-bottom: 0;
    }

    img {
      width: 300px;
    }
  }

  .img-container {
    display: flex;
    align-items: center;
  }

  &--home {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
      opacity: 1;
      transition: 0.5s;
      animation: banner-animate 0.5s;
    }

    .banner__content {
      position: absolute;
      padding: 10px 20px;
      background-color: $c-dark-green;
      box-shadow: 0 0 0 5px $c-light-pink inset;
      border: 10px solid $c-dark-green;

      @include media-breakpoint-up(md) {
        padding: 10px 40px;
      }

      &:before {
        display: none;
      }

      .img-container {
        height: 80px;
        width: 200px;
        margin: 0 auto;
      }
    }
  }
}

@keyframes banner-animate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
