.banner {
  height: 70vh;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-bottom: 20px solid $c-dark-green;

  &--home {
    background-image: url("/images/home-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__content {
    position: relative;
    z-index: 2;

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: -25px;
      height: 30px;
      width: 500px;
      background-color: $c-dark-green;
      z-index: -1;
    }

    img {
      width: 300px;
    }
  }
}
