.btn {
  padding: 10px 30px;
  border-radius: 0;
  text-transform: uppercase;
  box-shadow: none;
  outline: none;
  max-width: 250px;
  border: none;

  &-outline {
    &-primary {
      border-color: $c-dark-green;
      color: $c-dark-green;
    }

    &-secondary {
      border-color: $c-light-pink;
      color: $c-light-pink;
    }

    &-tertiary {
      border-color: #fff;
      color: #fff;
    }
  }

  &-primary {
    background-color: $c-dark-green;
  }

  &-secondary {
    background-color: $c-light-pink;
    color: $c-dark-green !important;
  }

  &-tertiary {
    background-color: #fff;
    color: $c-dark-green !important;
  }

  &-book {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: $c-light-pink;

    span {
      position: relative;
      z-index: 2;
      color: $c-dark-green;
    }

    &:before {
      content: "";
      position: absolute;
      background-color: $c-gold;
      color: black;
      top: 0;
      left: -100%;
      height: 100%;
      width: 100%;
      transition: 0.5s;
      z-index: 0;
    }

    &:hover {
      border-color: $c-gold;

      &:before {
        left: 0;
      }

      span {
        color: black;
      }
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}
