.btn {
  padding: 10px 30px;
  border-radius: 0;
  text-transform: uppercase;
  box-shadow: none;
  outline: none;
  max-width: 250px;
  border: 2px solid;
  transition: 0.2s;
  position: relative;

  &:active,
  &:focus,
  &:focus-visible {
    outline: none !important;
    box-shadow: none !important;
  }

  &-primary {
    background-color: $c-dark-green;
    color: $c-white;
    border-color: $c-dark-green;

    &:hover {
      background-color: transparent !important;
      color: $c-dark-green !important;
      border-color: $c-dark-green !important;
    }

    &:active {
      background-color: transparent !important;
      color: $c-dark-green !important;
      border-color: $c-dark-green !important;
    }

    &:focus {
      background-color: transparent !important;
      color: $c-dark-green !important;
      border-color: $c-dark-green !important;
    }

    &:focus-visible {
      background-color: transparent !important;
      color: $c-dark-green !important;
      border-color: $c-dark-green !important;
    }
  }

  &-secondary {
    background-color: $c-light-pink;
    color: $c-dark-green;

    &:hover {
      background-color: transparent !important;
      color: $c-light-pink !important;
      border-color: $c-light-pink !important;
    }
    &:active {
      background-color: transparent !important;
      color: $c-light-pink !important;
      border-color: $c-light-pink !important;
    }
    &:focus {
      background-color: transparent !important;
      color: $c-light-pink !important;
      border-color: $c-light-pink !important;
    }

    &:focus-visible {
      background-color: transparent !important;
      color: $c-light-pink !important;
      border-color: $c-light-pink !important;
    }
  }
}
