.employee {
  text-align: center;
  transition: 0.5s;
  padding-bottom: 20px;

  img {
    margin-bottom: 20px;
    height: auto;
    width: 250px;
    transition: 0.5s;
  }

  @include media-breakpoint-up(lg) {
    &:hover {
      background-color: $c-light-pink;

      img {
        transform: scale(1.05);
      }
    }
  }
}
