.header {
  position: fixed;
  padding: 20px 0;
  width: 100%;
  background-color: $c-dark-green;
  z-index: 1;

  @include media-breakpoint-up(md) {
    padding: 25px 0;
    height: auto;
  }

  @include media-breakpoint-up(md) {
    padding: 15px 0;
  }

  &__content {
    justify-content: space-between;
    background-color: $c-dark-green;

    @include media-breakpoint-up(md) {
      align-items: center;
    }
  }

  &__logo {
    &-img {
      img {
        height: 50px;

        @include media-breakpoint-up(md) {
          height: 75px;
        }
      }
    }
  }
}
