.header {
  position: fixed;
  height: 90px;
  width: 100%;
  background-color: $c-dark-green;
  z-index: 1;

  @include media-breakpoint-up(md) {
    height: auto;
  }

  &__content {
    justify-content: space-between;
    padding: 30px 0;
    background-color: $c-dark-green;

    @include media-breakpoint-up(md) {
      align-items: center;
      padding: unset;
    }
  }

  &__logo {
    img {
      width: 100px;
      position: relative;
      z-index: 1000;

      @include media-breakpoint-up(md) {
        width: 125px;
      }
    }
  }
}
