.pricing {
  &__table {
    border: 2px solid $c-dark-green;
    padding: 30px;

    &-end {
      border-top: 2px solid $c-dark-green;
    }

    &-data {
      text-transform: uppercase;
      margin-bottom: 30px;
      font-size: 14px;

      p {
        font-weight: bold;

        &:last-child {
          font-weight: normal;
        }
      }

      &-title {
        margin-bottom: 30px;

        h4 {
          margin-bottom: 30px;
        }
      }
    }
  }
}
