.pricing {
  &__table {
    border: 2px solid $c-dark-green;
    padding: 30px;

    &-data {
      text-transform: uppercase;
      margin-bottom: 30px;
      font-size: 14px;

      p:first-child {
        margin-bottom: 5px;
        font-weight: bold;
      }

      &-title {
        margin-bottom: 30px;

        h4 {
          margin-bottom: 30px;
        }
      }
    }
  }
}
