.nav {
  &-primary {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    background-color: $c-dark-green;
    transition: 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: $c-font-body;
    z-index: -1;
    padding: 90px 0 0;

    @include media-breakpoint-up(md) {
      position: relative;
      top: unset;
      left: unset;
      min-height: unset;
      display: block;
      max-width: unset;
      width: unset;
      z-index: 1;
      padding: unset;
    }

    &__link {
      padding: 15px 0;
      position: relative;
      opacity: 0;
      transition: 0.2s;

      &:first-child {
        padding-top: 0;
      }

      @include media-breakpoint-up(md) {
        margin-left: 25px;
        padding: 0;
        overflow: hidden;
        opacity: 1;

        &:first-child {
          padding-top: unset;
        }
      }

      &:before {
        content: "";
        position: absolute;
        height: 1px;
        width: 60%;
        background-color: $c-light-pink;
        bottom: 0;

        @include media-breakpoint-up(md) {
          transition: 0.5s;
          height: 2px;
          width: 100%;
          left: -100%;
          overflow: hidden;
        }
      }

      &:hover {
        @include media-breakpoint-up(md) {
          &:before {
            left: 0;
          }
        }
      }
    }

    .btn {
      @include media-breakpoint-up(md) {
        margin-left: 20px;
      }
    }

    ul {
      list-style: none;
      padding-left: 0;
      margin-top: 0;

      @include media-breakpoint-up(md) {
        display: flex;
        margin-bottom: 0;
        align-items: center;
      }

      a {
        color: white;
        text-decoration: none;
        font-weight: normal;
      }
    }

    &.active {
      left: 0;

      .nav-primary {
        &__social,
        &__link {
          opacity: 1;
        }
      }
    }

    &__social {
      width: 100%;
      background-color: $c-light-pink;
      height: 200px;
      padding-top: 20px;
      padding-bottom: 20px;
      opacity: 0;
      transition: 0.2s;

      &-icon {
        position: relative;
        width: auto;
        height: 25px;
        display: block;
        color: $c-dark-green;
        font-size: 22px;
        margin: 8px 0 0 auto;

        &:first-child {
          margin-top: 0;
        }
      }
    }

    &__cta {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      p {
        margin-bottom: 0;
      }
    }
  }

  &-toggle {
    display: flex;
    justify-content: flex-end;

    &__btn {
      width: 40px;
      height: 30px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: $c-light-pink;
        border-radius: 20px;

        &:first-child {
          top: 0;
          transition: 0.2s;
        }

        &:nth-child(2) {
          top: 12px;
          transition: opacity 0.2s;
        }

        &:nth-child(3) {
          top: 24px;
          transition: 0.2s;
        }
      }

      &.active {
        span {
          &:first-child {
            top: 12px;
            transform: rotate(45deg);
          }

          &:nth-child(2) {
            top: 12px;
            opacity: 0;
          }

          &:nth-child(3) {
            top: 12px;
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}
