h1,
h2,
h3,
h4,
h5 {
  font-family: $c-font-body;
  font-weight: bold;
  font-display: swap;
  color: $c-dark-green;
  text-transform: uppercase;
}

body,
p,
li,
a {
  font-family: $c-font-heading;
  font-display: swap;
  color: $c-dark-green;
}

ul {
  list-style: none;
  padding-left: 0;
}

.custom-list {
  list-style: disc;
  padding-left: 20px;
}
