@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Roboto+Mono:wght@300;400;500&display=swap");

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

// Colours
$c-dark-green: #144941;
$c-light-green: rgba(20, 73, 65, 0.3);
$c-lightest-green: rgba(20, 73, 65, 0.05);
$c-light-pink: #fee3d2;
$c-lightest-pink: rgba(254, 227, 210, 0.3);
$c-white: #fff;

// Fonts
$c-font-heading: "Poppins", sans-serif;
$c-font-body: "Roboto Mono", monospace;

// Component
$c-modal-overlay: rgba(0, 0, 0, 0.5);
