@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Poppins:wght@300;400;700&display=swap");

// Colours
$c-dark-green: #144941;
$c-blue-green: #0d5d56;
$c-pink: #f0c5a2;
$c-light-pink: #efe4dc;

// Fonts
$c-font-heading: "Poppins", sans-serif;
$c-font-body: "Courier Prime", monospace;

// Component
