@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto+Mono:wght@300;400;500&display=swap");

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

// Colours
$c-dark-green: #144941;
$c-blue-green: #157359;
$c-gold: #bd8e36;
$c-salmon: #f7d6c7;
$c-light-pink: #fcccca;
$c-white: #fff;

// Fonts
$c-font-heading: "Poppins", sans-serif;
$c-font-body: "Roboto Mono", monospace;
// $c-font-body: "Courier Prime", monospace;

// Component
