// Abstract
@import "../styles/abstract/mixins";
@import "../styles/abstract/variables";

// Components
@import "../styles/components/header";
@import "../styles/components/primary-nav";

// Layout
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
